@import "../styles/variables.scss";

.cards {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 20px;
}

@media screen and (min-width: $screen-large) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}