.social__links {
    display: flex;
    padding: 0;
}

.social__link {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}